.widget-reactimagecrop-clickable {
  cursor: pointer;
}
.react-crop-wrapper {
  max-width: none;
  width: 500px;
  height: 500px;
}
button.btn {
  width: 100px;
  margin-top: 10px;
}
.ReactCrop__drag-handle {
  border: 1px solid #39f;
  box-sizing: border-box;
  outline: 1px solid transparent;
}